aiohttp==3.8.1
bcrypt
celery==5.1.2
fastapi~=0.89.1
gunicorn
flower==1.0.0
http3
python-multipart
passlib
python-jose
starlette
uvicorn
pydantic
redis==3.5.3
requests==2.25.1
pylint
pytest
pytest-cov
sqlalchemy